* {
    font-family: Arial, Helvetica, sans-serif;
}

.cabeçalho_titulo{
    text-align: center;
    margin: 0%;
}

.cabasalho{
    background-color: black;
    color: white;

}

.links{
    display: flex;
    text-align: right;
}


