body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.header-tittle {
    margin: 0;
}


.container {
    max-width: 1350px;

}

.navigation-list{
    float: right;
    width: 750px;
    height: 60px;
}
.foto-sala{
    align-items: center;
}