
.header {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
}

.header-content {
    text-align: center; 
}

.header-title {
    margin: 0; 

.navigation {
    background-color: #444;  
}

.navigation-list {
    list-style-type: none;  
    padding: 0; 
    margin: 0;  
}

.navigation-list li {
    display: inline;  
    margin-right: 20px; 
}

.navigation-list li:last-child {
    margin-right: 0;  
}

.navigation-list li a {
    color: #fff; 
    text-decoration: none; 
}

 
.main-content {
    padding: 20px; 
}

.container {
    max-width: 800px; 
    margin: 0 auto;  
}

.main-content p {
    text-align: justify;  

 
.foto-sala {
    display: block;  
    margin-top: 20px; 
    max-width: 100%;  
}